02-Gmail-Attachment-Saver/workflow.json
{
  "name": "Gmail attachment saver",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        -816,
        -320
      ],
      "id": "e6475dde-3e83-4d51-89a8-bc6ca9944b98",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "opzViiywkLhdvjNj",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -608,
        -320
      ],
      "id": "c74299ab-e0c6-42c0-8bfb-c8f036dd38ea",
      "name": "Get a message",
      "webhookId": "66e5be28-6f2a-426f-882e-967cad600cea",
      "credentials": {
        "gmailOAuth2": {
          "id": "opzViiywkLhdvjNj",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "attachment_0",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1bThuKd9di1rDMnudCx3RZHJXvVeOI6Cy",
          "mode": "list",
          "cachedResultName": "Gmail Attachments",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1bThuKd9di1rDMnudCx3RZHJXvVeOI6Cy"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -144,
        -352
      ],
      "id": "b9570897-f688-4d56-8404-a0ad29e8b112",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "29gos3UccwUNsUOB",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a461bfba-ac29-4ad0-a4eb-be41eea357fb",
              "leftValue": "={{ $('Gmail Trigger').item.json.text }}",
              "rightValue": "attachment",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -400,
        -320
      ],
      "id": "89decb7b-8f7f-4991-beb9-8927f76b2998",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "349fbd15-d5a9-4f0a-b9b3-d799a81fe594",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "74989c349b203d0103a0b04f3b5ac405bd3def81c403965f90a53762a847a16e"
  },
  "nodeGroups": [],
  "id": "6DEokjxXz1v9BUVA",
  "tags": [
    {
      "updatedAt": "2026-07-04T16:21:03.667Z",
      "createdAt": "2026-07-04T16:21:03.667Z",
      "id": "Rw9V36ToUkU5ooGb",
      "name": "Gmail attachment saver"
    }
  ]
}