04 - PDF Invoice Organizer.json
{
  "name": "04 - PDF Invoice Organizer",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "labelIds": [
            "INBOX"
          ]
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        -608,
        -208
      ],
      "id": "158ac1e3-d618-4f34-b9ec-27171fc94006",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "opzViiywkLhdvjNj",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -400,
        -208
      ],
      "id": "4387cb56-4542-40cb-b766-80557ca6da3f",
      "name": "Get a message",
      "webhookId": "201c58e0-6401-41b8-adc1-2e2bac21364f",
      "credentials": {
        "gmailOAuth2": {
          "id": "opzViiywkLhdvjNj",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c1b4b991-6e7b-4086-b4bd-e2aef297d28d",
              "leftValue": "={{ $binary.attachment_0.mimeType }}",
              "rightValue": "application/pdf",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -192,
        -208
      ],
      "id": "3268f88b-23da-47c7-9f80-7688071be3cc",
      "name": "If"
    },
    {
      "parameters": {
        "inputDataFieldName": "attachment_0",
        "name": "attachment_0",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1EEF-Ui9Go3Y-gKpwNNqQaDG5qIuJn3-0",
          "mode": "list",
          "cachedResultName": "n8nPracticeFiles",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1EEF-Ui9Go3Y-gKpwNNqQaDG5qIuJn3-0"
        },
        "options": {
          "simplifyOutput": false
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        16,
        -224
      ],
      "id": "b83c9932-9061-4637-b4ab-7cd3d34d67e1",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "29gos3UccwUNsUOB",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Get a message').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        224,
        -224
      ],
      "id": "633c042b-f20c-4249-a612-d7f010693916",
      "name": "Mark a message as read",
      "webhookId": "496abaff-f0ef-4791-97f9-e6b07a15277b",
      "credentials": {
        "gmailOAuth2": {
          "id": "opzViiywkLhdvjNj",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Mark a message as read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c18dfed0-a6da-4b42-a8c9-b3f76d18958b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "74989c349b203d0103a0b04f3b5ac405bd3def81c403965f90a53762a847a16e"
  },
  "nodeGroups": [],
  "id": "kZugalp9VxyVGHS2",
  "tags": []
}