01-Weather-Dashboard/01-Weather-Dashboard.json
{
  "name": "Weather-Dashboard",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -448,
        -64
      ],
      "id": "74dac1a8-e62d-4697-8a8b-289312c5631b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://wttr.in/Dubai?format=j1",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -240,
        -64
      ],
      "id": "9a3150b3-e82c-4fa8-a48f-a2d5f6b7dcca",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f2ee85af-bbf2-45c2-9dcd-5bfbcb73e851",
              "name": "TEMPERATURE",
              "value": "={{ $json.current_condition[0].temp_C }}",
              "type": "string"
            },
            {
              "id": "b0af89b3-20a1-4d0a-9a65-aa701e75af90",
              "name": "HUMIDITY",
              "value": "={{ $json.current_condition[0].humidity }}",
              "type": "string"
            },
            {
              "id": "058d9dae-5b22-4cc1-886f-e8c1dacceaf9",
              "name": "WIND SPEED",
              "value": "={{ $json.current_condition[0].windspeedKmph }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        -64
      ],
      "id": "96464c8f-2625-4994-ae4f-084ecdf945e8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GwlQTVDkmhUfWUTLgydoEA9RCT3_VirjPGoyZTuNlnY",
          "mode": "list",
          "cachedResultName": "Weather dashboard Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GwlQTVDkmhUfWUTLgydoEA9RCT3_VirjPGoyZTuNlnY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GwlQTVDkmhUfWUTLgydoEA9RCT3_VirjPGoyZTuNlnY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TEMPERATURE": "={{ $json.TEMPERATURE }}",
            "HUMIDITY": "={{ $json.HUMIDITY }}",
            "WIND SPEED": "={{ $json['WIND SPEED'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "TEMPERATURE",
              "displayName": "TEMPERATURE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HUMIDITY",
              "displayName": "HUMIDITY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "WIND SPEED",
              "displayName": "WIND SPEED",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        176,
        -64
      ],
      "id": "608eff59-7a3b-4c37-86b8-1ed989ca40c5",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AyAiyAwHU06svwU7",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "329419c0-69e5-4d62-91f6-0de9a21d9b8c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "74989c349b203d0103a0b04f3b5ac405bd3def81c403965f90a53762a847a16e"
  },
  "nodeGroups": [],
  "id": "aB791le6UWefoQrc",
  "tags": [
    {
      "name": "Weather-dasboard",
      "id": "SYIlZfwUbfNYQrfm",
      "updatedAt": "2026-07-05T10:08:05.388Z",
      "createdAt": "2026-07-05T10:08:05.388Z"
    }
  ]
}